@import "theme";


.product_container {
    height: 270px;

    .product_image {
        cursor: pointer;
        border-radius: 10px;
        transition: all 0.3s;
        width: 270px;
        height: auto;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    &:hover {
        .product_image {
            transform: scale(1.05);
        }
    }
}

.product_type {
    color: $grey-color;
}

.heading_wrapper {
    width: 100%;
    margin-top: 10px;
}



