@import "theme";

.form {
    display: none;
    max-width: 500px;
    min-width: 280px;
    background-color: white;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.form_heading {
    text-align: center;
    font-size: 28px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.form_button {
    transition: all 0.4s;
    font-size: 14px;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    background-color: $main-color;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 14px;
    display: block;
    margin-top: 20px;

    &:hover {
        background-color: darken($main-color, 10%);
        cursor: pointer;
      }
}


.confirmation_text {
    margin-top: 20px;
}