@import "theme";

.selection_container {
    min-width: 290px;
    max-width: 500px;
    width: 90%;

    &:hover {
        .card_bg {
            transform: scale(1.05);
        }
    }
}

.selection_card {
    position: relative;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    width: 100%;
    color: white;
    height: 350px;

    .heading {
        z-index: 0;
        transition: all 0.3s;
     }

     &:hover {
        .heading {
            opacity: 0;
        }
     }
}

.card_bg {
    cursor: pointer;
    transition: all 0.3s;
    position: absolute;
    width: auto;
    height: 100%;
}

.selection_link {
    transition: all 0.3s;
    display: inline-block;
    border-radius: 0 0 20px 20px;
    background-color: $main-color;
    text-align: center;
    color: white;
    width: 100%;
    padding: 14px;

    .arrow {
        transition: all 0.3s;
        position: relative;
        vertical-align: middle;
        font-size: 16px;
    }

    &:hover {
        background-color: darken($main-color, 10%);

        .arrow {
            transform: translateX(10px);
        }
      }
}
