@import "mixins";

.team_container {
    margin: 0 10px;
    text-align: center;
}

.team_image {
    transition: all 0.3s;
    width: 400px;
}

.text {
   margin: 10px;
}

.button_container {
    margin-top: -10px;
}

.team_button {
    margin-top: 10px;
    width: 90%;
}

@include mobile-view {
    .team_image {
        width: 90%;
    }
}