@import "mixins";

.video_frame {
    width: 500px;
    border: none;
    margin: 0 20px;
    height: 280px;
    border-radius: 20px;
}

@include mobile-view {
    .video_frame {
        width: 90%;
    }
}